.product-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

    
  }
  
  .product-layout{
    display: flex;
    
  }
  
  
  
  .shirt-images{
    width: 100%;
    margin-top: 20px;
  
  }
  .shirt-images .img1{
    margin-left: 25px;
  
  }
  .shirt-images .img2 {
    margin-left: 25px;
    
  }
  
  .shirt-images .img3 {
    margin-left: 25px;
    margin-top: 25px;
    
  }
  .shirt-images .img4 {
    margin-left: 25px;
    margin-top: 25px;
   
  }
  
  .shirt-details{
    width: 40%;
    margin-top: 20px;
  
  }
  
  .shirt-details p {
    margin-right: 40px;
    font-weight: bold;
  }
  
  
   
    
    
  
   
  
  
  
  
  .materialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .addButton {
    width: 250px;
    padding: 18px 24px;
    border-radius: 30px;
    color: white;
    background: black;
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: 0.5s;
  }
  
  .addButton:hover {
    opacity: 0.5;
  }
  
  .backButton {
      width: 180px;
      padding: 0px 20px;
      border-radius: 45px;
      color: white;
      background: black;
      font-size: 16px;
      margin-top: 25px;
      margin-bottom: 25px;
      font-weight: bold;
      height: 50px;
      margin-left: 120px;
      font-family: 'Open Sans', sans-serif;
      border: solid 1px;
      transition: 0.5s;

  }

  .backButton:hover{
      opacity: 0.5;
  }
  
  .favouritesButton {
    width: 250px;
    padding: 18px 24px;
    border-radius: 30px;
    color: black;
    background: white;
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: 0.5s;
  }
  
  .favouritesButton:hover {
    opacity: 0.5;
    background-color: black;
    color: white;
  }

  .sizes{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 50px;
      width: 400px;

  }
  .size{
      background-color: #f2f2f2;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      width: 20%;
      border-right: solid 1px white;
      transition: 0.5s;

      

  }

  .size:hover{
      background-color: black;
      color: white;
  }
  
  
  @media only screen and (min-width: 414px) and (max-width: 767px),
    (min-width: 412px) and (max-width: 767px),
    (min-width: 390px) and (max-width: 767px),
    (min-width: 428px) and (max-width: 767px),
    (min-width: 384px) and (max-width: 767px),
    (min-width: 360px) and (max-width: 767px) {
  
      .product-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        
      }
      
      .product-layout{
        display: flex;
        flex-direction: column;
        
      }
      
      
      
      .shirt-images{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
      
      }
      .shirt-images .img1{
        width: 80%;
        margin-top: 15px;
        margin-left: 0;
  
      
      }
      .shirt-images .img2 {
        width: 80%;
        margin-top: 15px;
        margin-left: 0;
  
        
      }
      
      .shirt-images .img3 {
        width: 80%;
        margin-top: 15px;
        margin-left: 0;
  
  
        
      }
      .shirt-images .img4 {
        width: 80%;
        margin-top: 15px;
        margin-left: 0;
  
  
       
      }
      
      .shirt-details{
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      
      }
      .shirt-details p{
        color: white;
      }
      .shirt-details h1{
        color: black;
      }
      h1{
        color: white;
      }
      h3{
        margin-right: 0px;
      }
      .shirt-details h1{
        font-size: 20px;
    }
    .backButton{
        width: 150px;
    padding: 0px 20px;
    border-radius: 50px;
    color: white;
    background: black;
    font-size: 16px;
    margin-top: -40px;
    margin-bottom: 25px;
    font-weight: bold;
    height: 50px;
    margin-left: 0px;
    border: solid 1px black;
    font-family: 'Open Sans', sans-serif;

    }

    .sizes{
        width: 300px;
    }
      
     
  
  
    
  }