.shoes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 120vh;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 70%;
    margin-left: 15%;
    background-color: white;
    border: solid 2px;
    margin-top: 20px;
}


@media only screen and (min-width: 414px) and (max-width: 767px),
(min-width: 412px) and (max-width: 767px),
(min-width: 390px) and (max-width: 767px),
(min-width: 428px) and (max-width: 767px),
(min-width: 384px) and (max-width: 767px),
(min-width: 360px) and (max-width: 767px) {
    .shoes{
        grid-template-columns: 1fr;
        height: 100%;
    }

    .card-container{
        height: 90%;

    }
  
    
}